:root {
    /* Colorful gradient used in the navigation bar */
  --navGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
}

/* Body font */
.font-inter {
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Used for all titles/labels/buttons  */
.font-metropolis {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

/* Put CSS Styles Here */
body {
    margin: 0;
    background-image: url("/assets/img/background.svg");
    background-repeat: no-repeat;
}

/* container that surrounds whole page */
#container {
  position: relative;
  min-height: 100vh;
}

/* header and footer styles */
header, footer {
    background-color: #291526;
    overflow: hidden;
    line-height: 60px;
    max-height: 60px;
    width: 100vw;
    padding: 12px 0px;
}

/* stick footer to bottom of content */
footer {
  position: absolute;
  bottom: 0;
}

/* account for footer */
.content {
    padding-bottom: 60px;
}

/* float menus right */
.menu {
    float: right;
}

/* items in header and footer menus */
.menu-item {
    margin: 4px 15px;
    padding-bottom: 4px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    max-height: 45px;
}

/* Gradient underline for currently selected menu item */
.active {
    border-bottom: 2px solid transparent;
    border-image: var(--navGradient);
    border-image-slice: 0 0 14 0;
}

/* icons in the header */
.menu-item .fas, .menu-item .fab {
    font-size: 26px;
    vertical-align: middle;
}

/* Circular profile image */
.profile-img {
    height: 38px;
    width: 38px;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid white;
    background: #CDCDCD;
}

/* Header/footer logo images */
.logo {
    margin: 4px 15px;
    max-height: 40px;
    vertical-align: middle;
}

/* button to expand menu in mobile view */
.menu-button {
    display: none;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: #381d34;
    font-family: inherit;
    font-size: 14px;
}


/* Mobile styles */
@media only screen and (max-width: 600px) {

    /* turn off .active underline */
    .active {
        border: none;
    }

    /* Gradient circle for currently selected menu item */
    .active:before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: var(--navGradient);
        margin: 3px 6px;
        vertical-align: middle;
    }

    /* adjust content padding for mobile footer size */
    .content {
        padding-bottom: 350px;
    }

    /* puts nav in header and footer below other elements */
    .menu.nav {
        float: none;
        display: block;
    }

    /* makes menu items stacked */
    .nav .menu-item {
        display: block;
    }

    /* adjust max header size for mobile view */
    header {
        max-height: 200px;
    }

    /* adjust max header size for mobile view */
    footer {
        max-height: 350px;
        text-align: center;
    }

    /* makes header menu items aligned right */
    header .menu-item {
        text-align: right;
    }

    /* makes logo smaller in mobile view */
    .logo {
        margin: 4px 15px;
        max-height: 35px;
    }
}
